/* header */

.header {
  border: 1px solid red;
  background-color: #274358;
}

.logo {
  border: 1px solid blue;
}

.nav {
  border: 1px solid blue;
  list-style: none;
}

.nav li a {
  border: 1px solid yellow;
  color: #fff;
  text-decoration: none;
}

/* content */

.content {
  border: 1px solid red;
}

.content-box {
  border: 1px solid blue;
}
